mysql_host=192.168.138.32
mysql_user=root
mysql_pwd=csdb123cnic

controller=192.168.138.32
--os-username=admin
--os_password=csdb123cnic
--os_tenant_name=admin
--os_auth_url=http://192.168.138.32:5000/v2.0

pidfile=/tmp/pidfile.pid
logfile=/tmp/example.log
$intvl=10
$reboot=5

redis_host=127.0.0.1
$redis_port=6379
